<%= link_to "All Pets", "/pets" %><%= link_to "All Shelters", "/shelters" %>
<h1>Animal Shelters</h1>

<% @shelters.each do |shelter| %>
  <h2><%= link_to shelter.name, "/shelters/#{shelter.id}" %></h2>
  <h2><%= link_to 'Update Shelter', "/shelters/#{shelter.id}/edit" %></h2>
  <h2><%= link_to 'Delete Shelter', "/shelters/#{shelter.id}", method: :delete %></h2>
<% end %>

<%= link_to "New Shelter", "/shelters/new" %>
