<%= link_to "All Pets", "/pets" %><%= link_to "All Shelters", "/shelters" %>
<h1><%= link_to @shelter.name, "/shelters/#{@shelter.id}" %></h1>
<ul>
  <li><%= @shelter.address %></li>
  <li><%= @shelter.city %></li>
  <li><%= @shelter.state %></li>
  <li><%= @shelter.zip %></li>
</ul>
<%= link_to "Pets", "/shelters/#{@shelter.id}/pets" %><br>
<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %><br>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
