<h1><%= @shelter.name %></h1>
<ul>
  <li><%= @shelter.address %></li>
  <li><%= @shelter.city %></li>
  <li><%= @shelter.state %></li>
  <li><%= @shelter.zip %></li>
</ul>
<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
