<% @pets.each do |pet| %>
  <h2><img src=<%= pet.image %> /></h2>
  <h2><%= pet.name %></h2>
  <h2><%= pet.age %></h2>
  <h2><%= pet.sex %></h2>
  <h2><%= pet.description %></h2>
  <h2><%= pet.status %></h2>
<% end%>
<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
