<h1><%= @pet.name %></h1>
<ul>
  <li><%= @pet.age %></li>
  <li><%= @pet.sex %></li>
  <li><%= @pet.description %></li>
  <li><%= @pet.status %></li>
</ul>
<p><img src=<%= @pet.image %> /></p>

<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>
