<%= link_to "All Pets", "/pets" %><%= link_to "All Shelters", "/shelters" %>
<h1><%= link_to @pet.name, "/pets/#{@pet.id}" %></h1>
<ul>
  <li><%= @pet.age %></li>
  <li><%= @pet.sex %></li>
  <li><%= @pet.description %></li>
  <li><%= @pet.status %></li>
</ul>
<p><img src=<%= @pet.image %> /></p>

<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %><br>
<%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
